[*]
charset=utf-8
end_of_line=lf
trim_trailing_whitespace=true
insert_final_newline=true
indent_style=space
indent_size=4

[{.babelrc,.stylelintrc,jest.config,.eslintrc,*.uplugin,*.bowerrc,*.jsb3,*.jsb2,*.json}]
indent_size=2

[{*.ddl,*.sql}]
indent_size=2

[{*.yml,*.yaml}]
indent_size=2

[{Makefile,*.mk}]
indent_style = tab

[*.cs]
#Naming
#Pascal Case Style Definition
dotnet_naming_style.pascal_case_style.capitalization = pascal_case

#Const fields should be Pascal Case
dotnet_naming_rule.constant_fields_must_be_pascal_case.severity = error
dotnet_naming_rule.constant_fields_must_be_pascal_case.symbols  = constant_fields
dotnet_naming_rule.constant_fields_must_be_pascal_case.style = pascal_case_style
dotnet_naming_symbols.constant_fields.applicable_kinds = field
dotnet_naming_symbols.constant_fields.required_modifiers = const

#Public objects and methods should be Pascal Case
dotnet_naming_rule.public_objects_must_be_capitalised.symbols = public_symbols
dotnet_naming_rule.public_objects_must_be_capitalised.severity = error
dotnet_naming_rule.public_objects_must_be_capitalised.style = pascal_case_style
dotnet_naming_symbols.public_symbols.applicable_kinds = method, property, class, interface, enum
dotnet_naming_symbols.public_symbols.applicable_accessibilities = public

#Parameters should be camel case
dotnet_naming_style.camel_case_style.capitalization = camel_case
dotnet_naming_rule.local_objects_must_be_camel_case.severity = error
dotnet_naming_rule.local_objects_must_be_camel_case.symbols = local_objects
dotnet_naming_rule.local_objects_must_be_camel_case.style = camel_case_Style
dotnet_naming_symbols.local_objects.applicable_kinds = parameter

#Class objects should be camel case and prefixed with an underscore
dotnet_naming_rule.camel_case_for_private_internal_fields.severity = error
dotnet_naming_rule.camel_case_for_private_internal_fields.symbols = private_internal_fields
dotnet_naming_rule.camel_case_for_private_internal_fields.style = camel_case_underscore_style
dotnet_naming_symbols.private_internal_fields.applicable_kinds = field
dotnet_naming_symbols.private_internal_fields.applicable_accessibilities = private, internal
dotnet_naming_style.camel_case_underscore_style.required_prefix = _
dotnet_naming_style.camel_case_underscore_style.capitalization = camel_case

# do not use .this
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_property = false
dotnet_style_qualification_for_method = false
dotnet_style_qualification_for_event = false

# Prefer predefined type
dotnet_style_predefined_type_for_locals_parameters_members = true
dotnet_style_predefined_type_for_member_access = true
dotnet_style_require_accessibility_modifiers = always
dotnet_style_readonly_field = true

#Unused Parameter
dotnet_code_quality_unused_parameters = non_public

#Use var
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true
csharp_style_var_elsewhere = true

#expression bodies
csharp_style_expression_bodied_methods = false
csharp_style_expression_bodied_constructors = false
csharp_style_expression_bodied_operators = false

#New Lines
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# Indentation
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_block_contents = true
csharp_indent_braces = false

#Spacing
csharp_space_after_cast = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = none
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false

#Using directives
csharp_using_directive_placement = outside_namespace

#Suppressed FxCop Errors
dotnet_diagnostic.CA1032.severity = none
dotnet_diagnostic.CA1062.severity = none

# Suppress errors asking you to specify the locale
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1304.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1306.severity = none
dotnet_diagnostic.CA1307.severity = none

# Suppressed[CA1001] as not sure how to fix disposable fields within tests
dotnet_diagnostic.CA1001.severity = none

#Can reassign collections
dotnet_diagnostic.CA2227.severity = none
