<configuration>

  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github-hackney" value="https://nuget.pkg.github.com/LBHackney-IT/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <github-hackney>
      <add key="Username" value="PublicToken" />
      <add key="ClearTextPassword" value= "%LBHPACKAGESTOKEN%" />
    </github-hackney>
  </packageSourceCredentials>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

</configuration>
